@charset "utf-8";

/* CSS Document */

.mar10 {
    margin-right: 10px
}

.banner {
    height: 450px;
    background: #A7A7A7
}

.case_list {
    margin-top: 30px
}

H3 {
    font-size: 30px;
    color: #000
}

.case_list_tit {
    text-align: center;
    color: #a3a3a3
}

.case_list_tab {
    margin-left: 450px;
    margin-top: 35px
}

.case_list_tab li {
    float: left;
    width: 112px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #c8c4c4;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-right: 70px
}

.case_list_tab li a {
    color: #5a5959;
    display: block;
    font-size: 14px
}

.case_list_tab li:hover {
    background: #1497f2;
    border-color: #1497f2
}

.case_list_tab li:hover a {
    color: #fff
}

.case_list_tab li.on {
    background: #1497f2;
    border-color: #1497f2
}

.case_list_tab li.on a {
    color: #fff
}

.case_list_con {
    width: 970px;
    margin: 0 auto
}

.case_list_con li {
    /*border-bottom: 1px dotted #a3a3a3;*/
    /*overflow: hidden;*/
    padding-bottom: 40px;
    margin-top: 40px
}

.case_list_con .pic {
    width: 469px;
    height: 267px;
    background: url(../images/mobie_03.png) no-repeat;
    float: left;
    margin-right: 60px
}

.case_list_con .pic img {
    margin: 18px 0 0 48px
}

.case_list_con dt {
    font-size: 20px;
    font-weight: bold;
    padding-top:24px;
}

.case_list_con dd.date {
    line-height: 50px;
    font-size: 14px
}

.case_list_con dd.date a {
    color: #1497F2
}

.case_list_con dd.text {
    width: 455px;
    float: left;
    line-height: 20px;
    font-size: 14px;
    height: 120px;
    overflow: hidden
}

.case_list_con dd.link a {
    width: 152px;
    height: 45px;
    background: #1497f2;
    display: block;
    float: left;
    line-height: 45px;
    text-align: center
}

.case_list_con ul.pc .pic {
    width: 500px;
    height: 288px;
    background: url(../images/pc_03.png) no-repeat;
    float: left;
    margin-right: 40px
}

.case_list_con ul.pc .pic img {
    margin: 20px 0 0 68px
}

p.fanye {
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    margin: 30px auto 50px auto;
    width: 200px
}

p.fanye a {
    color: #555;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    float: left;
    margin-left: 15px
}

p.fanye span.current {
    float: left;
    background: #1497f2;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    margin-left: 15px
}

p.fanye a.left,
p.fanye a.right {
    font-size: 20px
}
